/* styles/statistics.module.css */
.container {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  width: 200px;
  height: auto;
}

.title {
  color: black;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 80px;
}

.inputContainer {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

.input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btns {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  color: white;
  background-color: #7BDF7C;
}

.loadingContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.spinner {
  font-size: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}